@using SportsStore.WebService.Models.ViewModels
@using SportsStore.WebService.Infrastructure
@model ProductsListViewModel

@foreach(var product in Model.Products)
{
    @await Html.PartialAsync("ProductSummary", product)
}
<div page-model paging-info="@Model.PagingInfo" category="@Model.CurrentCaterogy" page-action="List"
page-classes-enabled="true" page-class="btn" page-class-normal="btn-secondary"
page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
