@model Order

<h2 style="font-size:24px; font-weight:bold;">Check out now</h2>
<p>Please enter your detals, and we will ship yourgoods rigth away!</p>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <h3 style="font-size: 16px; font-weight:bold;">Ship to</h3>
    <div>
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <h3 style="font-size: 16px; font-weight:bold;">Address</h3>
    <div>
        <label>Line 1:</label>
        <input asp-for="Line1" class="form-control" />
    </div>

    <div>
        <label>Line 2:</label>
        <input asp-for="Line2" class="form-control" />
    </div>

    <div>
        <label>Line 3:</label>
        <input asp-for="Line3" class="form-control" />
    </div>

    <div>
        <label>City:</label>
        <input asp-for="City" class="form-control" />
    </div>

    <div>
        <label>State:</label>
        <input asp-for="State" class="form-control" />
    </div>

    <div>
        <label>Zip:</label>
        <input asp-for="Zip" class="form-control" />
    </div>

    <div>
        <label>Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <h3 style="font-size: 16px; font-weight:bold;">Options</h3>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="GiftWrap" name="GiftWrap">
        <label class="form-check-label" for="GiftWrap">
            Gift wrap these items
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete order" />
    </div>
</form>